body.dragon {
    background: #e5e5e5;
}

dl.dragon {
    dt {
        margin: 8px 0;
    }
    dd {
        margin: 0 0 0 16px;
    }
}

iframe.dragon {
    border: 0;
    width: 100%;
}

.typography
 {
    font-size: 13px;
    body,
    h1,
    h2,
    h3,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(0,0,0,.87);
    }
}

/* -------------------------------------------------- 
START material design color phylosophy */

/* primary */
@P50: #e7f9ef;
@P100: #cff4df;
@P200: #9fe9bf;
@P300: #6fde9f;
@P400: #3fd37f;
@P500: #10c960;
@P600: #0ca04c;
@P700: #097839;
@P800: #086430;
@P900: #043c1c;
@PA100: #beefd3;
@PA200: #88dfae;
@PA400: #38e281;
@PA700: #119a4c;

/* accent */
@A100: #ffe57f;
@A500: #ffc107;
@A700: #ffc400;

/* fallback */
@F00: #f9f9f9;

/* END material design color phylosophy
-------------------------------------------------- */


@grid-width: 1000;
@grid-columns: 12;
@outter-spacing: 0.8;
@inner-spacing: 16px;
@debug-border: 1px solid red;
@radius: 2px;

@import "grid.less";
@import "input.less";

.tight {
    padding: 0;
}

.debug-border {
    border: @debug-border;
}

.card {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.22);
    border-radius: @radius;
    overflow: hidden;
    background: #fff;
}

[class^="col"] .card {
    margin: -16px -16px 32px;
    padding: 16px;
}

.navBar {
    background: @P500;
    border-radius: @radius;
}

ul.nav {
    padding: 20px 0;
    li {
        display: inline-block;
        a {
            color: #fff;
            padding: 10px 16px;
            text-decoration: none;
            border-radius: @radius;
            -moz-transition: 0.1s ease-in background;
            transition: 0.1s ease-in background;
            background: rgba(0,0,0,0);
        }
        a:hover {
            background: rgba(0,0,0,.05);
        }
    }
}