body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #e5e5e5;
    font-size: 13px;
}

@grid-width: 1000;
@grid-columns: 12;
@outter-spacing: 0.8;
@inner-spacing: 16px;
@debug-border: 1px solid red;

.debug-border {
    border: @debug-border;
}

.row {
    width: unit(@grid-width, px);
    margin: 0 auto;
    display: table;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loop(@counter) when (@counter > 0) {
    .col@{counter} {
        width: unit(100 / @grid-columns * @counter - @outter-spacing*2, %);
    }

    .col@{counter}:first-child,
    .col@{counter}:last-child {
        width: unit(100 / @grid-columns * @counter - @outter-spacing, %);
    }

    .col@{counter}:first-child:last-child {
        width: unit(100 / @grid-columns * @counter, %);
    }

    .loop((@counter - 1));
}

.row {
    .loop(@grid-columns); // launch the loop
    [class^="col"] {
        margin-left: unit(@outter-spacing, %);
        margin-right: unit(@outter-spacing, %);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        padding: @inner-spacing;
    }
}

[class^="col"] {
    .row {
        width: 100%;
    }
}

[class^="col"]:first-child {
    margin-left: 0;
}

[class^="col"]:last-child {
    margin-right: 0;
}

.card {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.22);
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
}